* {
	box-sizing: border-box;
}

header {
	font-size: 200%;
	text-align: center;
	padding: 50px;
}

button {
	padding: 6px 12px;
	border-radius: 4px;
	outline: 0;
	margin: auto;
  	display: block;
}

.page_container {
	padding: 5px;
}

.pages {
  	margin: 10px;
  	padding: 5px;
  	text-align: center;
}

textarea {
	width: 200px;
	height: 100px;
	text-align: center;
	padding-right: 7px;
	padding-left: 7px;
	outline-width: 0;
	border-radius: 5px;
}

.post-title {
  font-family: sans-serif;
}

.no-js .post-title,
.wf-active .post-title {
  font-family: sans-serif;
}

@media screen and (max-width: 300px) {
  .pages {
    padding:  3em 0;
  }
	
  aside {
  	padding: 3em 0;
  }	

  h1, p {
    font-size: 3em;
  }

  textarea {
  	padding: 6em 0;
  }
}