* {
	box-sizing: border-box;
}

header {
	font-family: georgia;
	font-size: 300%;
	text-align: center;
	padding: 50px;
}

button {
	padding: 3px 6px;
	border-radius: 4px;
	outline: 0;
}

.pages {
	padding: 15px;
}

.page_container {
	padding: 10px;
}

/*

add responsive design CSS elements here

*/