* {
	box-sizing: border-box;
}

header {
	font-family: serif, sans-serif;
	font-size: xx-large;
	text-align: center;
	padding: 50px;
}

p {
    font-family: Georgia, Times, serif;
    font-size: 16px;
}

.font_pair_one, .font_pair_two, .font_pair_three, .font_pair_four {
	display: inline-block;
	margin: 25px 150px 50px 150px; /* top right bottom left   */
	text-align: center;
}



/*

add responsive design CSS elements here

*/